@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Think';
    src: url('./fonts/Think-Regular.woff2') format('woff2'),
        url('./fonts/Think-Regular.woff') format('woff'),
        url('./fonts/Think-Regular.svg#Think-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    @apply scroll-smooth;
}

body {
    @apply antialiased bg-body text-beneficia2024-900 text-pretty;
}

a {
    @apply cursor-pointer;
}

h1 {
    @apply text-4xl tracking-tight text-white;
}

.nav-container {
    @apply hidden;
}

.papier {
    @apply bg-white text-beneficia2024-950 mx-12 mt-8 text-4xl font-think px-6 py-16 text-center shadow-beneficia -rotate-3
}

.papier dl dt {
    @apply mt-12 text-4xl;
}

.papier dl dt:first-child {
    @apply mt-0;
}

.papier dl dd {
    @apply text-5xl break-words;
}

main {
    @apply relative;
}

.buy-large {
    @apply inline-block px-32 py-8 text-6xl bg-white cursor-pointer -rotate-3 shadow-beneficia;
}

.more-info {
    @apply px-4
}

footer {
    @apply px-4;
}

header h2 {
    @apply max-w-4xl px-4 mx-auto mt-16 text-4xl;
}

header h4 {
    @apply mt-16 text-4xl text-white;
}

header a {
    @apply text-5xl transition-colors;
}

header a:hover {
    @apply text-beneficia2024-950;
}

@media screen(md) {
    .nav-container {
        @apply sticky top-0 z-30 block bg-body;
    }

    .nav-container nav {
        @apply flex items-center justify-between max-w-6xl mx-auto my-4 text-xl text-white border-b-2 border-beneficia2024-200 font-think;
    }

    .nav-container nav a {
        @apply p-4 transition-colors;
    }

    .nav-container nav a:hover {
        @apply text-gray-100;
    }

    header h2 {
        @apply px-0 mt-24 text-5xl;
    }

    header h4 {
        @apply mt-24 text-5xl;
    }

    header a {
        @apply text-6xl;
    }

    .papier {
        @apply max-w-2xl text-6xl px-14 py-24 mx-auto
    }

        .papier dl dt {
            @apply mt-16 text-5xl;
        }

        .papier dl dd {
            @apply text-6xl;
        }
}

@media screen(lg) {
    h1 {
        @apply text-8xl;
    }

    .jedalny-listok {
        @apply relative my-24;
    }

    .jedalny-listok:after {
        @apply w-full h-full bg-center bg-no-repeat bg-contain drop-shadow-beneficia;
        content: ' ';
        display: block;
        background-image: url('./images/1x/tanier.png');
        z-index: 1;
        position: absolute;
        left: 0;
        top: 0;
    }

    .papier {
        @apply relative z-10 max-w-3xl mx-auto top-1/2;
    }

    .papier:after {
        @apply bg-center bg-no-repeat bg-contain w-96 aspect-square;
        content: ' ';
        display: block;
        background-image: url('./images/0.5x/losos@0.5x.png');
        z-index: 20;
        position: absolute;
        left: -18rem;
        top: 34%;
    }

    main:after {
        @apply bg-center bg-no-repeat bg-contain w-52 aspect-square;
        content: ' ';
        display: block;
        background-image: url('./images/0.5x/vajce@0.5x.png');
        z-index: 20;
        position: absolute;
        right: 15%;
        top: 5%;
    }

    .buy-large {
        @apply transition-all scale-95;
    }

    .buy-large:hover {
        @apply scale-100;
    }

    .more-info {
        @apply px-0;
    }

    footer {
        @apply px-0;
    }
}